.events-list {
  padding: 0 40px 91px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  .empty {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
    width: calc(100vw - 40px);
  }
}
