<header>
  <div class="header-container">
    <img src="../../../assets/icons/app-logo.png" alt="app-logo" />
    <nav class="navbar">
      <ul role="list" class="navbar">
        <li>
          <a
            routerLink="/awaiting-approval"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Чакащи за одобрение</a
          >
        </li>
        <li>
          <a
            routerLink="/events"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Събития</a
          >
        </li>
        <li>
          <a
            routerLink="/event/create"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Създай събитие</a
          >
        </li>
        <li>
          <a
            routerLink="/accounts"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Акаунти</a
          >
        </li>
        <li>
          <a
            routerLink="user/654654/profile"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Профил</a
          >
        </li>
        <!-- TODO: LOGOUT -->
        <li>
          <a
            href="/"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Изход</a
          >
        </li>
      </ul>
    </nav>
    <img
      class="hamburger-menu"
      src="../../../../assets/icons/navbar-hamburger.png"
      alt="menu"
    />
  </div>
</header>
