<header>
  <div class="header-container">
    <img src="../../../assets/icons/app-logo.png" alt="app-logo" />
    <nav>
      <ul role="list" class="navbar">
        <li><a routerLink="/awaiting-events">Чакащи за одобрение</a></li>
        <li><a routerLink="/events">Събития</a></li>
        <li><a routerLink="/create-event">Създай събитие</a></li>
        <li><a routerLink="/accounts">Акаунти</a></li>
        <li><a routerLink="/profile">Профил</a></li>
        <!-- TODO: LOGOUT -->
        <li><a href="/">Изход</a></li>
      </ul>
    </nav>
  </div>
</header>
