<header>
  <div class="header-container">
    <img src="../../../assets/icons/app-logo.png" alt="app-logo" />
    <nav>
      <ul role="list" class="navbar">
        <li>
          <a routerLink="/awaiting-events" routerLinkActive="activebutton"
            >Чакащи за одобрение</a
          >
        </li>
        <li>
          <a routerLink="/events" routerLinkActive="activebutton">Събития</a>
        </li>
        <li>
          <a routerLink="/create-event" routerLinkActive="activebutton"
            >Създай събитие</a
          >
        </li>
        <li>
          <a routerLink="/accounts" routerLinkActive="activebutton">Акаунти</a>
        </li>
        <li>
          <a routerLink="/profile" routerLinkActive="activebutton">Профил</a>
        </li>
        <!-- TODO: LOGOUT -->
        <li><a href="/">Изход</a></li>
      </ul>
    </nav>
  </div>
</header>
