header {
  .header-container {
    margin: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 56px;

    img,
    nav {
      display: inline-block;
    }

    .hamburger-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 16px;

      span {
        height: 3px;
        width: 32px;
        background-color: rgba(166, 162, 160, 1);
        margin: 3px 0;
        display: block;
      }
    }

    .navbar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      gap: 16px;

      li a {
        text-decoration: none;
        flex-grow: 1;
        flex-shrink: 1;
        color: rgba(255, 116, 24, 1);
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding: 17px 18px;
        border-radius: 4px;
      }

      li a.activebutton {
        background-color: rgba(255, 116, 24, 1);
        color: rgba(13, 13, 13, 1);
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 990px) {
  header {
    .header-container {
      margin: 0;
      .hamburger-menu {
        display: flex;
        margin: 6px;
      }
      .navbar {
        display: none;
      }
      .logo {
        width: 24px;
        height: 24px;
        margin: 18px 0 18px 16px;
      }
    }
  }
}
