<section class="event-details">
  <h1>{{ event.shortTitle }}</h1>
  <h2>{{ event.longTitle }}</h2>

  <img src="{{ event.imageUrl }}" alt="{{ event.shortTitle }}" />
  <div class="categories">
    @for (category of event.category; track category) {
    <span class="categroy grey-text">{{ category }}</span>
    }@empty {
    <p class="empty">Няма събития, чакащи одобрение!</p>
    }
  </div>
  <p>{{ event.longDescription }}</p>
  <h3>Информация за събитието</h3>
  <div class="event-info">
    <div class="organizer-info">
      <p class="organizer">Организатор на събитието:</p>
      <p class="grey-text">{{ event.creator.organizatorName }}</p>
    </div>
    <div class="dates">
      <p>Дати:</p>
      <p class="grey-text">15.3.21 -</p>
    </div>
    <div class="prices">
      <div class="visitor-prices">
        @for (visitorPrice of event.visitorPrices; track visitorPrice._id) {
        <p class="visitor-price">{{ visitorPrice.price }} лв.</p>
        <p class="grey-text">{{ visitorPrice.description }}</p>
        }@empty {
        <p class="empty">Няма събития, чакащи одобрение!</p>
        }
      </div>

      <div class="participant-prices">
        @for (participantPrice of event.participantPrices; track
        participantPrice._id) {
        <p class="visitor-price">{{ participantPrice.price }} лв.</p>
        <p class="grey-text">{{ participantPrice.description }}</p>
        }@empty {
        <p class="empty">Няма събития, чакащи одобрение!</p>
        }
      </div>
    </div>
  </div>

  <h5 class="adress-title">Адрес на събитието</h5>
  <p class="adress">
    {{ event.contacts.region }}, {{ event.contacts.address }}
  </p>
  <div class="map">MAP</div>

  <h6>Контакти:</h6>
  <p class="grey-text">{{ event.creator.organizatorName }}</p>
  <p class="grey-text">{{ event.creator.email }}</p>
  <p class="grey-text">{{ event.creator.phone }}</p>
</section>
