.section {
  width: 41.9%;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  .search-container {
    width: 100%;
    height: 56px;

    margin-bottom: 8px;
    .search-icon {
      content: url("../../../assets/icons/search.svg");
    }
    .custom {
      --color: #fff;
      --placeholder-color: #fff;
      --icon-color: #fff;
      --placeholder-opacity: 1;
      width: 100%;
      padding: 0;
      height: 56px;
      border-bottom: 1px solid #ffffff;
    }

    ion-searchbar.custom.searchbar-has-focus {
      border-color: #ff7418;
      --icon-color: #ff7418;
      --placeholder-color: transparent;
      --clear-button-color: #ff7418;
    }

    ion-searchbar.custom.searchbar-has-value.ion-dirty {
      border-color: #00cc00;
      --icon-color: #00cc00;
      --clear-button-color: #00cc00;
    }
  }

  .select-section {
    display: flex;
    justify-content: space-between;
    gap: 36px;

    .select-item {
      padding-left: 1em;
      width: 46.6%;
      height: 56px;
      background: none;
      border: 0px;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      opacity: 1;
    }
    ion-select.select-item.select-expanded::part(icon) {
      content: url("../../../assets/icons/input-icons/arrow-up-down-active.svg");
    }
    ion-select.select-item::part(icon) {
      bottom: 1em;
      color: #ffffff;
      content: url("../../../assets/icons/input-icons/arrow-up-down.svg");
      position: absolute;
      right: 0.8em;
      height: 20px;
      width: 10px;
    }
    ion-select.has-value::part(icon) {
      content: url("../../../assets/icons/input-icons/arrow-up-down-success.png");
    }
    ion-select.select-expanded {
      border-color: #ff7418;
    }

    ion-select.has-value {
      border-color: #00cc00;
      --icon-color: #00cc00;
      --highlight-color-valid: #00cc00;
    }

    ion-select::part(placeholder) {
      color: #fff;
      margin-right: 2.2em;
      opacity: 1;
      font-size: 14px;
    }

    ion-select.has-value::part(label) {
      color: #00cc00;
    }

    ion-select.select-expanded::part(label) {
      color: #ff7418;
    }

    .select-wrapper,
    #select-label {
      width: 100%;
    }
  }
}
::ng-deep.searchbar-input-container {
  .searchbar-search-icon {
    left: 4px;
  }
  ion-select.ion-untouched.searchbar-clear-button.sc-ion-searchbar-md {
    display: block;
  }
  .searchbar-input {
    padding-left: 32px;
    background: none;
  }
}
::ng-deep .sc-ion-alert-ios-h {
  --max-width: 100%;
}
::ng-deep .alert-wrapper {
  border: 1px solid #a6a2a0 !important;
  border-radius: 4px !important;
  width: 31.7% !important;

  .alert-head {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #0d0d0d;

    .alert-title.sc-ion-alert-ios {
      color: rgb(255, 117, 26);
      margin: 0 auto;
    }
  }

  .alert-message.sc-ion-alert-ios {
    display: none;
  }

  .alert-checkbox-group::-webkit-scrollbar {
    width: 0.75em;
    display: block !important;
    background-color: #33312f;
  }

  .alert-checkbox-group {
    min-height: 322px !important;
    border-top: 1px solid #a6a2a0;
  }
  .alert-checkbox-group::-webkit-scrollbar-thumb {
    background-color: #a6a2a0;
  }

  .alert-checkbox-group::-webkit-scrollbar-thumb:active {
    background-color: #ff7418;
  }

  .alert-checkbox-icon {
    background-color: #a6a2a0 !important;
  }

  .alert-checkbox-label.sc-ion-alert-ios {
    color: #ffffff;
  }

  [aria-checked="true"].sc-ion-alert-ios .alert-checkbox-icon.sc-ion-alert-ios {
    background-color: rgb(255, 117, 26) !important;
  }

  [aria-checked="true"].sc-ion-alert-ios
    .alert-checkbox-inner.sc-ion-alert-ios {
    color: #ffffff;
    border-color: #ffffff;
  }

  .alert-button-inner.sc-ion-alert-ios {
    background-color: #0d0d0d;
    border-bottom: 1px solid #a6a2a0 !important;
    border-right: 1px solid #a6a2a0 !important;
    color: #ff7418;
  }

  .alert-button-group {
    border-top: 1px solid #a6a2a0 !important;
    .alert-button {
      border-top: 1px solid #a6a2a0 !important;
      background-color: #0d0d0d;
      padding: 0;
    }
    .alert-button:active {
      background-color: rgb(255, 117, 26) !important;
      color: #000;
    }
    .alert-button-role-cancel {
      border-right: 1px solid #a6a2a0 !important;
    }
    .alert-button > span {
      background: none !important;
      padding: 0;
      border-bottom: 0px !important;
      border-right: 0px !important;
    }
  }
}

@media (max-width: 430px) {
  .section {
    width: 91%;
    .select-section {
      width: 100%;
      flex-direction: column;
      gap: 0;
      .select-item {
        width: 100%;
      }
    }
  }
  ::ng-deep .alert-wrapper {
    width: 91% !important;
  }
}
