<section class="login">
  <form class="login-form" #form="ngForm" (ngSubmit)="onLoginSubmit()">
    @if(inputEmail.dirty && inputEmail.valid && inputEmail.invalid){
    <p>diryy</p>
    }

    <input
      type="email"
      placeholder="Имейл*"
      id="email"
      name="email"
      [(ngModel)]="email"
      #inputEmail="ngModel"
      required
      pattern="^[a-zA-Z0-9\._+\-]+@[a-zA-Z0-9\.]+\.[a-zA-Z]{2,}$"
    />

    <input
      type="password"
      placeholder="Парола*"
      id="password"
      name="password"
      labelPlacement="floating"
      [(ngModel)]="password"
      #inputPassword="ngModel"
    />
    <div class="buttons">
      <a>Регистрирай се като организатор</a>
      <button>Вход</button>
    </div>
  </form>
</section>
