.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .forgotten {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
  }
}
