.awaiting-events {
  margin-bottom: 24px;
  h2 {
    text-align: center;
    color: rgba(255, 116, 24, 1);

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}
