.awaiting-organizers {
  padding: 0 40px;

  table {
    border-collapse: collapse;
    border: 1px solid #a6a2a0;
    border-radius: 4px;
    width: 100%;
  }

  thead {
    img {
      display: inline-block;
      cursor: pointer;
    }
  }

  td,
  th {
    text-align: left;
    padding: 12px 0 12px 16px;
  }

  .buttons {
    padding-left: 0;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  th {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 116, 24, 1);
    img {
      margin-left: 10px;
    }
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(51, 49, 47, 1);
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="checkbox"]::after {
    content: "\2713";
    color: rgba(255, 255, 255, 1);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }
}
