<section class="awaiting-organizers">
  <table>
    <thead>
      <tr>
        <th>
          <input type="checkbox" />
        </th>
        <th>
          ID
          <img
            src="../../../../assets/icons/table-arrows.png"
            alt="sort icon"
          />
        </th>
        <th>
          Имейл
          <img
            src="../../../../assets/icons/table-arrows.png"
            alt="sort icon"
          />
        </th>
        <th>
          Име<img
            src="../../../../assets/icons/table-arrows.png"
            alt="sort icon"
          />
        </th>
        <th>
          Телефон<img
            src="../../../../assets/icons/table-arrows.png"
            alt="sort icon"
          />
        </th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" /></td>
        <td>1</td>
        <td>exampleemail.com</td>
        <td>John Doe</td>
        <td>(123) 456-7890</td>
        <td class="buttons">
          <a>
            <img src="../../../../assets/icons/table-view.png" alt="View" />
          </a>
          <a>
            <img src="../../../../assets/icons/table-edit.png" alt="Edit" />
          </a>
          <a>
            <img
              src="../../../../assets/icons/table-approve.png"
              alt="Approve"
            />
          </a>
          <a>
            <img src="../../../../assets/icons/table-delete.png" alt="Delete" />
          </a>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>1</td>
        <td>exampleemail.com</td>
        <td>John Doe</td>
        <td>(123) 456-7890</td>
        <td class="buttons">
          <a>
            <img src="../../../../assets/icons/table-view.png" alt="View" />
          </a>
          <a>
            <img src="../../../../assets/icons/table-edit.png" alt="Edit" />
          </a>
          <a>
            <img
              src="../../../../assets/icons/table-approve.png"
              alt="Approve"
            />
          </a>
          <a>
            <img src="../../../../assets/icons/table-delete.png" alt="Delete" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
