<tr class="table-arrow">
  <td><input type="checkbox" /></td>
  <td>1</td>
  <td>exampleemail.com</td>
  <td>John Doe</td>
  <td>(123) 456-7890</td>
  <td class="buttons">
    <a>
      <img src="../../../../assets/icons/table-view.png" alt="View" />
    </a>
    <a>
      <img src="../../../../assets/icons/table-edit.png" alt="Edit" />
    </a>
    <a>
      <img src="../../../../assets/icons/table-approve.png" alt="Approve" />
    </a>
    <a>
      <img src="../../../../assets/icons/table-delete.png" alt="Delete" />
    </a>
  </td>
</tr>
<tr>
  <td><input type="checkbox" /></td>
  <td>1</td>
  <td>exampleemail.com</td>
  <td>John Doe</td>
  <td>(123) 456-7890</td>
  <td class="buttons">
    <a>
      <img src="../../../../assets/icons/table-view.png" alt="View" />
    </a>
    <a>
      <img src="../../../../assets/icons/table-edit.png" alt="Edit" />
    </a>
    <a>
      <img src="../../../../assets/icons/table-approve.png" alt="Approve" />
    </a>
    <a>
      <img src="../../../../assets/icons/table-delete.png" alt="Delete" />
    </a>
  </td>
</tr>
