td {
  text-align: left;
  padding: 12px 0 12px 16px;
}

.buttons {
  padding-left: 0;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

tr:nth-child(odd) {
  background-color: rgba(51, 49, 47, 1);
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]::after {
  content: "\2713";
  color: rgba(255, 255, 255, 1);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}
