<div class="event-card">
  <div class="content">
    <img
      class="event-img"
      src="{{ event.imageUrl }}"
      alt="{{ event.shortTitle }}"
    />
    <h3>{{ event.shortTitle }}</h3>

    <div class="contacts">
      <img src="../../../../assets/icons/location.png" alt="" />
      <p>
        {{ event.contacts.region }}
      </p>
    </div>
    <div class="dates">
      <img src="../../../../assets/icons/dates.png" alt="" />
      <p>dates here !!!</p>
    </div>
    <p class="description">{{ event.shortDescription }}</p>
  </div>
  <div class="buttons">
    <a routerLink="/event/{{ event._id }}/details" class="view">Прегледай</a>
    <a routerLink="/event/{{ event._id }}/edit" class="edit">Редактирай</a>
    <a class="approve">Одобри</a>
    <a class="delete">Изтрий</a>
  </div>
</div>
