<app-confirm-dialog
  *ngIf="showConfirmationDialog"
  [message]="confirmationMessage"
  (confirmed)="onConfirmation($event)"
></app-confirm-dialog>
<div class="event-card">
  <div class="content">
    <img
      class="event-img"
      [src]="'data:image;base64,' + event.imageUrl"
      alt="{{ event.shortTitle }}"
    />
    <h3>{{ event.shortTitle }}</h3>

    <div class="contacts">
      <img
        src="../../../../assets/icons/event-card/location.svg"
        alt="location"
      />
      <p>
        {{ event.contacts.region }}
      </p>
    </div>
    <div class="dates">
      <img src="../../../../assets/icons/event-card/calendar.svg" alt="" />
      <p>oт {{ startDate }} г. до {{ endDate }} г.</p>
    </div>
    <p class="description">{{ event.shortDescription }}</p>
  </div>
  <div class="buttons">
    <a routerLink="/event/{{ event._id }}/details" class="view">Прегледай</a>
    <a routerLink="/event/{{ event._id }}/edit" class="edit">Редактирай</a>
    <a
      (click)="
        action = 'approve';
        showConfirmationDialog = true;
        confirmationMessage = 'Сигурни ли сте, че искате да одобрите събитието?'
      "
      class="approve"
      >Одобри</a
    >
    <a
      class="delete"
      (click)="
        action = 'delete';
        showConfirmationDialog = true;
        confirmationMessage = 'Сигурни ли сте, че искате да изтриете събитието?'
      "
      >Изтрий</a
    >
  </div>
  <app-like-icon [likedCount]="event.likes.length" />
  <app-toaster
    [toasterMessage]="toasterMessage"
    [toasterType]="toasterType"
  ></app-toaster>
</div>
