header {
  width: 100vw;
  img,
  nav {
    display: inline-block;
  }

  .header-container {
    margin: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    img {
      margin-left: 24px;
    }

    .navbar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      gap: 16px;
      li {
        flex-grow: 1;
        flex-shrink: 1;
        color: rgba(255, 116, 24, 1);
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding: 8px 18px;
      }
    }
  }
}
