<div class="auth-wrapper">
  <div class="auth-input region-select-wrapper">
    <ion-select
      labelPlacement="floating"
      label="Регион*"
      class="region-select"
      okText="Ок"
      cancelText="Откажи"
      slot="center"
      name="region"
      [(ngModel)]="selectedRegionValue"
      #region="ngModel"
      required
      (ionChange)="onRegionChange()"
    >
      @for(region of regions; track region){
      <ion-select-option>{{ region }}</ion-select-option>
      }
    </ion-select>
  </div>
  @if(region.invalid && region.touched ){
  <p class="invalid-message">
    @if(region.errors?.['required']) { Полето е задължително за попълване! }
  </p>
  }
</div>
