<div class="auth-wrapper">
  <div class="auth-input region-select-wrapper">
    <ion-select
      labelPlacement="floating"
      label="Регион*"
      class="region-select"
      okText="Ок"
      cancelText="Откажи"
      slot="center"
      name="region"
      [(ngModel)]="selectedRegionValue"
      #region="ngModel"
      required
      (ionChange)="onRegionChange($event.detail.value)"
    >
      <ion-select-option *ngFor="let region of regions" [value]="region">{{
        region
      }}</ion-select-option>
    </ion-select>
  </div>
</div>
