.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  app-selector {
    width: 100%;
    max-width: 592px;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .login-link {
    margin: 24px 0;
    color: rgba(194, 191, 190, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }
}
@media (max-width: 615px) {
  .buttons {
    .secondary-button {
      order: 1;
    }
  }
}
