.loader{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.container {
  width: 46.4%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-titel {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
  }

  .form-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #c2bfbe;
    margin: 24px auto;
  }

  .forgotten-form {
    width: 100%;
    .buttons{
        .secondary{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
  }

  .forgotten {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
  }
}
