@if(isLoading){
<app-loader class="loader" />
}@else {
<div class="container">
  <p class="form-titel">Въведете имейл, на който ще получите новата парола</p>
  <p class="form-description">
    След като получите новата парола, можете да я замените с Ваша парола от
    страница “Профил”
  </p>
  <form class="forgotten-form form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="input-container">
      <app-label-with-states
        [forId]="'email'"
        [inputRef]="inputEmail"
        [labelText]="'Имейл*'"
      />

      <input
        type="email"
        [placeholder]="inputEmail.dirty || inputEmail.touched ? '' : 'Имейл*'"
        id="email"
        name="email"
        [(ngModel)]="email"
        #inputEmail="ngModel"
        required
        pattern="^[a-zA-Z0-9\._+\-]+@[a-zA-Z0-9\.]+\.[a-zA-Z]{2,}$"
      />
      @if(inputEmail.invalid && inputEmail.touched){
      <p class="invalid-message">
        @if(inputEmail.errors?.['required']) { Полето е задължително за
        попълване! } @if(inputEmail.errors?.['pattern']){ Моля въведете валиден
        имейл! }
      </p>
      }
    </div>

    <div class="buttons">
      <a (click)="onCancel()" routerLink="/login" class="secondary-button"
        ><span>Назад</span></a
      >
      <button class="primary-button">Ок</button>
    </div>
  </form>
</div>

}
